div{
  text-align: center;
}

nav{
  list-style-type: none;
  padding-right: 45px;
  margin: auto;
  background-color: #140206;
}

nav li{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

body{
  background-color: #290810;
  color: white;
  font-family: monospace;
}

a{
  text-decoration: none;
  color: white;
}

h1{
  text-shadow:
  /* Shadow X */
  3px
  /* Shadow Y */
  3px
  /* Shadow radius */
  3px
  /* Shadow color */
  #631919;
}

h2{
  display: inline-block;
  margin: auto;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 50px;
}

.millThumb{
  width: 640px;
  height: 360px;
  background-image: url("https://raw.githubusercontent.com/winsomeless/winsomeless.github.io/main/graphics/MillenniumThumb.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #000000;
  transition: background-size .25s;
}

.millThumb:hover{
  background-size: 125%;
}

.kgThumb{
  width: 640px;
  height: 360px;
  background-image: url("https://m.gjcdn.net/game-thumbnail/500/529102-rqp4ypzs-v4.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #000000;
  transition: background-size .25s;
}

.kgThumb:hover{
  background-size: 125%;
}

.fafThumb{
  width: 640px;
  height: 360px;
  background-image: url("https://m.gjcdn.net/game-thumbnail/500/463686-7rxqupcq-v4.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #000000;
  transition: background-size .25s;
}

.fafThumb:hover{
  background-size: 125%;
}

.acThumb{
  width: 640px;
  height: 360px;
  background-image: url("https://m.gjcdn.net/game-thumbnail/500/354699-qusratz5-v4.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #000000;
  transition: background-size .25s;
}

.acThumb:hover{
  background-size: 125%;
}

.fnaffThumb{
  width: 640px;
  height: 360px;
  background-image: url("https://m.gjcdn.net/game-thumbnail/500/116171-jukfagzw-v4.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #000000;
  transition: background-size .25s;
}

.fnaffThumb:hover{
  background-size: 125%;
}


header{
  font-size: 72px;
  text-shadow:
  /* Shadow X */
  4px
  /* Shadow Y */
  4px
  /* Shadow radius */
  5px
  /* Shadow color */
  #631919;
}

#BigText{
  font-size: 48px;
  text-align: left;
  padding-left: 40px;
  padding-top: 20px;
  text-shadow:
  /* Shadow X */
  4px
  /* Shadow Y */
  4px
  /* Shadow radius */
  5px
  /* Shadow color */
  #631919;
}

#BodyTextLeft{
  font-size: 16px;
  text-align: left;
  padding-left: 40px;
  padding-top: 20px;
  text-shadow:
  /* Shadow X */
  4px
  /* Shadow Y */
  4px
  /* Shadow radius */
  5px
  /* Shadow color */
  #631919;
}

#Coming{
  padding-bottom: 600px;
}

#SectionHeader{
  padding-top: 50px;
}
