div{
  text-align: center;
}

nav{
  list-style-type: none;
  padding-right: 45px;
  margin: auto;
}

nav li{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

body{
  background-color: #290810;
  color: white;
  font-family: monospace;
}

a{
  text-decoration: none;
  color: white;
}

h1{
  text-shadow:
  /* Shadow X */
  3px
  /* Shadow Y */
  3px
  /* Shadow radius */
  3px
  /* Shadow color */
  #631919;
}

h2{
  display: inline-block;
  margin: auto;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 50px;
}

#Thumbnail{
  width: 75%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #000000;
  object-fit: contain;
  transition: width .5s;
}

#Thumbnail:hover{
  object-fit: none;
}

header{
  font-size: 72px;
  text-shadow:
  /* Shadow X */
  4px
  /* Shadow Y */
  4px
  /* Shadow radius */
  5px
  /* Shadow color */
  #631919;
}
