div{
  text-align: center;
}

body{
  background-color: black;
}

nav{
  color: white;
  font-size: 36px;
  font-weight: bold;
  font-family: sans-serif;
  padding-top: 10px;
  padding-bottom: 50px;
  background: #276f28;
  height: 0px;
}

a{
  text-decoration: none;
  color: white;
}

#Logo{
  width: 40%;
}

#Teaser{
  width: 40%;
  padding-top: 50px;
}

footer{
  color: white;
  padding-top: 50px;
  font-family: sans-serif;
}
